<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Amazon</title>
</head>
<body>

<div th:fragment="navbar">
    <div class="menu1">
        <ul>
            <li>
                <div class="logo1">
                    <i class="fa fa-bars" aria-hidden="true"></i></div>
            </li>
            <li class="logo2">
                <img src="image/amazon.png" alt="amazon">
            </li>

            <li>
                <div>
                    <form class="catagory">
                        <select>
                            <option value="baby">All</option>
                            <option value="baby">baby</option>
                            <option value="Books">Books
                            <option>
                            <option value="Men">men</option>
                            <option value="Women">Women
                            <option>
                        </select>
                        <input class="search" type="text" placeholder="search" name="search">
                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            <li>
                <div class="dropbtn"><img src="image/flag.png" alt="">
                    <i class="fa fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="dropbtn"> Hello, <br><span sec:authentication="name"></span>
                    <i class="fa fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="dropbtn">Returns <br> &Orders
                    <i class="fa fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="dropbtn"> Try Prime
                    <i class="fa fa-caret-down"></i>
                </div>
            </li>
            <li>
                <div class="dropbtn"><i class="fas fa-shopping-cart"></i></div>
            </li>
        </ul>

    </div>
    <div>
        <nav class="bottom">
            <ul>
                <li>
                    <div class="btn "><i class="fas fa-map-marker-alt"></i> Hello</div>
                </li>
                <li>
                    <div class="btn"> Gift Card</div>
                </li>
                <li>
                    <div class="btn"> Amazon.com</div>
                </li>
                <li>
                    <div class="btn"> Prime Video</div>
                </li>
                <li>
                    <div class="btn"> Customer Service</div>
                </li>
                <li>
                    <div class="btn"> Best Seller</div>
                </li>
                <li>
                    <div class="btn"> Browising History
                        <i class="fa fa-caret-down"></i></div>
                </li>
                <li>
                    <div class="btn"> Todays Deals</div>
                </li>
                <li>
                    <div class="btn"> Whole Food</div>
                </li>
                <li>
                    <div class="btn"> Buy Again</div>
                </li>
                <li>
                    <div class=btn> New Release</div>
                </li>
                <li>
                    <div class="btn"> pantry</div>
                </li>
                <li class="prime">
                    <div class="btn"> Prime Day is October 13-14</div>
                </li>
            </ul>
        </nav>

    </div>
</div>


</div>

</body>
</html>