<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>

<body>

<header th:replace="fragments/navigation :: navbar"></header>

<div class="product-reviews-wrap">

    <div class="review-box" th:each="review : ${ratings}">
<!--        <div class="review-author" ></div>-->

        <span sec:authentication="name" class="review-author"></span>
        <div class="review-wrap">
            <div class="review-stars">
                <div class="stars-wrap">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="review-title" th:text="${review.headline}"></div>
        </div>
        <div class="item-description" th:text="${review.comment}"></div>
    </div>
    <div th:if="${purchased}">
        PURCHASED
    </div>


</div>
<script th:src="@{/assets/bootstrapless-star-rating/star-rating.min.js}"></script>

</body>
</html>